<thead>
  <%= erb :_breadcrumb, locals: locals %>
</thead>
<tbody>
  <tr>
    <td colspan="3" style="text-align: center; font-size: xx-large;">
      <div style="padding: 1em; border: 2px solid white; border-radius: 10px; background: lightgray;">
        <h2>You are missing!</h2>
        <h3>Nothing is here.</h3>
      </div>
    </td>
  </tr>
</tbody>
